<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
  <!-- 載入自訂的css index show -->
  <link href="/stylesheets/index.css" rel="stylesheet">
  <link href="/stylesheets/show.css" rel="stylesheet">
  <title>Movie List</title>
</head>

<body>

  <!-- Navbar -->
  <nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">Movie List</a>
    </div>
  </nav>
  {{{ body }}}
  <script src="/javascripts/bootstrap.bundle.min.js"></script>
  <script src="https://kit.fontawesome.com/a6bc2254c1.js" crossorigin="anonymous"></script>
</body>

</html>